
<div class="container">
  <h1 style="text-align: center;">Welcome to {{title}}</h1>
</div>
<div class="example-button-row">
  <button  mat-raised-button color="primary" id="home"routerLink="/home" routerLinkActive="active" >Home</button>
  <button  mat-raised-button color="primary"  id="about" routerLink="/about" routerLinkActive="active">about</button>
  <button  mat-raised-button color="primary"  id="open-close"routerLink="/open-close" routerLinkActive="active">Open/close</button>
  <button  mat-raised-button color="primary"  id="open-close"routerLink="/status-slider" routerLinkActive="active">status-slider</button>
</div>
 
<router-outlet></router-outlet>